/META-INF/*
/.idea/*
/target/*
/out/artifacts/ConversorColunasAgrupadas_jar/ConversorColunasAgrupadas.iml
/out/artifacts/ConversorColunasAgrupadas_jar/ConversorColunasAgrupadas.jar
CONVERTED_ficha financeira HCM.txt
ficha financeira HCM.txt
.vscode/settings.json
